header,
main {
    position: relative;
}

section {
    margin-bottom: 40px;
}

section>.title {
    font-size: 2.5rem;
}

/* Header */
.navbar {
    position: relative;
    padding: 0px 50px;
    transition: 1s all;
}
.navbar-brand {
    font-size: 3.5rem;
}
.sticky {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99999;
    background: rgba(0, 0, 0, .45);
}
.sticky .navbar-brand {
    font-size: 2rem;
}


.header-background {
    background: url('../img/background.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    overflow: hidden;
}

.jumbotron {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -94px;
    height: 100vh;
}

.waves {
    position: absolute;
    bottom: -10px;
    fill: #fff;
    position: absolute !important;
    height: 300px;
    width: 100%;
}

/* Header */

/* Main */
.box {
    border-radius: 10px;
    color: white;
    padding: 40px;
}

.box .info {
    margin-top: 10px;
}

.box .info .title {
    font-size: 1.5rem;
}

.box i {
    font-size: 3.5rem;
    margin-bottom: 20px;
}

.box-1 {
    height: 300px;
    background-color: tomato;
}

.box-2 {
    height: 350px;
    background-color: lightseagreen;
}

.box-3 {
    margin-top: -50px;
    height: 350px;
    background-color: slategray;
}

.box-4 {
    height: 300px;
    background-color: lightsalmon;
}

.description {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

.shape-right {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}



.course {
    border-radius: 10px;
    box-shadow: -3.5pt 10pt 19.5pt 5.25pt rgba(25, 42, 70, .13);
    overflow: hidden;
}

.course .course-card-thumbnail {
    width: 100%;
    height: 200px;

}

.course .course-card-thumbnail img {
    width: 100%;
    height: 100%;
}

.course .course-card-body {
    padding: 20px;
}

.course .course-card-footer {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgb(204, 205, 206);
    padding: 10px;
}

.course .course-card-footer p {
    margin: 0;
}

.course .course-card-body .category {
    display: flex;
    justify-content: space-between;
}

.course .course-card-body .title {
    font-size: 1.25rem;
    margin-bottom: 20px;
}

.course .course-card-body .description {
    max-height: 130px;
    overflow: hidden;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    overflow: hidden;
    text-overflow: ellipsis;
}


/* Main */

/* Footer */
.stylish-color-dark {
    background-color: #3e4551 !important;
}

.btn-floating i {
    display: inline-block;
    width: inherit;
    color: #fff;
    text-align: center;
}

.btn-floating i {
    font-size: 1.25rem;
    line-height: 47px;
}

.btn-floating {
    position: relative;
    z-index: 1;
    display: inline-block;
    padding: 0;
    margin: 10px;
    overflow: hidden;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 50%;
    -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    width: 47px;
    height: 47px;
}

.btn-dribbble {
    color: #fff;
    background-color: #ec4a89 !important;
}

.btn-li {
    color: #fff;
    background-color: #0082ca !important;
}

.btn-gplus {
    color: #fff;
    background-color: #dd4b39 !important;
}

.btn-tw {
    color: #fff;
    background-color: #55acee !important;
}

.btn-fb {
    color: #fff;
    background-color: #3b5998 !important;
}

footer.page-footer .footer-copyright {
    overflow: hidden;
    color: rgba(255, 255, 255, 0.6);
    background-color: rgba(0, 0, 0, 0.2);
}

.font-small {
    font-size: 1.25rem;
    font-weight: 300;
    color: white;
}

.font-small a {
    color: white;
}

/* Footer */